*
{
    margin: 0px;
    padding: 0px;
}
body
{
    background-color: rgb(52, 58, 45);
}
#headercss{
   height: 50px;
    background-color: #fff;
   padding-top: 12px;
       }
    
#navigationbar
{
    width: 900px;
       float: right;
    }
#menuitem
{ 
    margin-bottom: 50px;
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: auto;
}
#contentcss
{
    color: lemonchiffon;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
img{
   border-radius: 50%;
   height: 50px;
   width: 50px;
   margin: 30px;
}

.boxestoalign
{
    align-items: center;
    margin-top: 30px;
        width: 280px;
    }

#designonebox{
   background-color: 	#e9897e;
    float: left;
    margin-left: 275px;
}
#designtwobox{
    float: left;
     background-color:#3EB489;
     
    }
#designthreebox
{
    background-color: #9369a8;

     float: left;
}
#boxcontent{
margin-top: 20px;
margin: 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.bottombar
{
    background-color: #4d4a4a;
    margin-top: 330px;
   height: 120px;
    width: 1500px;
    text-align: center;
    padding-top: 23px;
    bottom: 0;
   position: relative;
      color: wheat;
}